---
import XMark from "../../../icons/XMark.svg";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<dialog
  id={id}
  class="fixed top-0 right-0 ml-auto open:flex flex-col justify-between max-h-none h-screen max-w-150 bg-flick-black text-white backdrop:backdrop-blur-xs backdrop:backdrop-brightness-50"
  closedby="any"
>
  <button
    class="w-fit flex self-end cursor-pointer p-1"
    commandfor={id}
    command="close"
  >
    <XMark class="size-10" />
  </button>
  <slot />
</dialog>
