---
import OfferingsLayout from "../../../layouts/OfferingsLayout.astro";
import PointsRow from "../../pointsRow/PointsRow.astro";
import Button from "../../ui/inputs/Button.astro";
import TableCells from "../../../icons/TableCells.svg";
import Trophy from "../../../icons/Trophy.svg";
import CalendarDays from "../../../icons/CalendarDays.svg";
import InfoHighlightLayout from "../../../layouts/InfoHighlightLayout.astro";
import Container from "../../../layouts/Container.astro";
import MatchingSessionFaq from "./MatchingSessionFaq.astro";
import EloFaq from "./EloFaq.astro";
import type { FaqConfig } from "../../../types";
import WithSmoothScrollTo from "../../ui/with/WithSmoothScrollTo.astro";

const pointConfig = [
  {
    Icon: TableCells,
    text: "ELO-based rating system with rankings and divisions",
  },
  {
    Icon: Trophy,
    text: "Three month seasons with awards for division winners as well as other categories",
  },
  {
    Icon: CalendarDays,
    text: "Regular two hour sessions on Friday and Sunday",
  },
];

const faqConfig: FaqConfig[] = [
  {
    title: "What is a Matching Session?",
    Content: MatchingSessionFaq,
  },
  {
    title: "Can I choose my opponents in the matching session?",
    Content: "No. You will be assigned opponents to play with in the session.",
  },
  {
    title: "Do I need to attend every single matching session?",
    Content:
      "Absolutely not! You can attend as many session as you want. However, do note that if you want to receive a ranking, you need to attend at least 3 matching sessions in a season (roughly 1 session per month).",
  },
  {
    title: "Is there a limit on how many Matching Sessions I can attend?",
    Content:
      "Not at the moment. You can attend as many sessions as you want. However, if matching sessions are full, players who have attended a high number of sessions might be asked to give their spot to players who have attended less sessions.",
  },
  {
    title: "What is an Elo-Based Rating?",
    Content: EloFaq,
  },
  {
    title:
      "Is the Flick TT League rating equivalent to ratings in other leagues?",
    Content:
      "No. Elo-based ratings only reflect your skill level within that league. The rating you have in Flick TT League cannot be compared to rating you receive in other leagues.",
  },
];
---

<OfferingsLayout
  title="Flick TT League"
  showMembership={false}
  containerProps={{ class: "gap-8 max-w-full px-0" }}
  faqConfig={faqConfig}
>
  <div
    class="max-w-section m-auto flex flex-col gap-8 px-6 lg:px-12 text-center"
  >
    <p class="text-3xl md:text-4xl lg:text-5xl text-flick-yellow">
      The Flick TT League is a
      <b class="font-semibold">ranking league</b> with an
      <b class="font-semibold">Elo rating system</b>.
    </p>
    <p class="font-light text-xl lg:text-3xl">
      Starting early 2025, the league hosts regular 2-hour matching sessions on
      Fridays and Sundays that players of this league can join for free! Once
      you join the league, you will be assigned a rating. You will be matched
      randomly against others in a matching session and you play as many matches
      as you can within the 2 hours! Winning will gain you points, losing will
      cost you points. Want to play some proper matches in a fun and casual
      environment? Here's your chance to do just that!
    </p>
    <a
      href="https://bookwhen.com/flicktt-competitions/memberships"
      target="_blank"
    >
      <Button size="lg" class="m-auto">Register now</Button>
    </a>
    <div
      class="flex flex-col md:flex-row gap-4 items-center justify-center w-full"
    >
      <WithSmoothScrollTo
        originId="league-table-btn"
        toId="league-table-container"
      >
        <Button size="lg" class="w-full md:w-fit" id="league-table-btn"
          >League Table</Button
        >
      </WithSmoothScrollTo>
      <WithSmoothScrollTo
        originId="league-calendar-btn"
        toId="league-calendar-container"
      >
        <Button size="lg" class="w-full md:w-fit" id="league-calendar-btn"
          >League Calendar</Button
        >
      </WithSmoothScrollTo>
      <WithSmoothScrollTo
        originId="league-rules-btn"
        toId="league-rules-container"
      >
        <Button size="lg" class="w-full md:w-fit" id="league-rules-btn"
          >League Rules</Button
        >
      </WithSmoothScrollTo>
    </div>
  </div>
  <PointsRow pointConfig={pointConfig} />
  <Container class="flex flex-col gap-8 pt-6">
    <InfoHighlightLayout title="Currently Active" size="md">
      <h5 class="font-bold text-2xl">Season 6</h5>
      <p>1 May - 31 July</p>
      <p>
        <span class="font-semibold">Fee:</span>
        £35 (Members) / £65 (Non-Members) | £1.50 per session
      </p>
      <p>
        <span class="font-semibold">Sessions:</span>
        Fridays 6-8pm / Sundays 10am-12pm & 12-2pm
      </p>
      <p>
        <span class="font-semibold">Prizes:</span>
        £60 voucher for top 3 Division 1 players / £40 voucher for top 3 Division
        2 players / Private lesson voucher for winners of 3 mystery categories
      </p>
    </InfoHighlightLayout>
    <div class="flex flex-col gap-4" id="league-table-container">
      <h3>League Table</h3>
      <iframe
        title="Flick TT League table"
        src="https://flicktt-my.sharepoint.com/personal/admin_flicktt_club/_layouts/15/Doc.aspx?sourcedoc={ce4f9882-b9ea-466c-a8ff-ce7892a9e0af}&action=embedview&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&waccluster=GUK3&edaebp=&edaebf=ctrl"
        loading="lazy"
        class="w-full h-175 rounded-xl"
      >
      </iframe>
    </div>
    <div class="flex flex-col gap-4" id="league-calendar-container">
      <span>
        <h3>League Calendar</h3>
        <p class="text-xl">
          This calendar is updated every 5 minutes. Attendees are listed in the
          event's description.
        </p>
      </span>
      <iframe
        title="Flick TT League calendar"
        src="https://calendar.google.com/calendar/embed?src=1aa3076ec7cdc6e10c1e99d468368a94c82108fc425664b7e082d34d49724179%40group.calendar.google.com&ctz=Europe%2FLondon"
        loading="lazy"
        class="w-full h-175 rounded-xl"
      >
      </iframe>
    </div>
  </Container>
</OfferingsLayout>
<Container class="flex flex-col gap-4 pt-6 pb-14" id="league-rules-container">
  <h3>League Rules</h3>
  <iframe
    title="Flick TT League calendar"
    src="https://flicktt-my.sharepoint.com/personal/admin_flicktt_club/_layouts/15/Doc.aspx?sourcedoc={e5b95760-2cab-447b-bb5b-1e3b5f029838}&action=embedview&wdStartOn=1"
    loading="lazy"
    class="w-full h-175 rounded-xl"
  >
  </iframe>
</Container>
