<div class="flex flex-col gap-2">
  <p>
    A matching session is a 2-hour session where you will play as many best-of-5
    matches as possible within the time period. There are two types of matching
    sessions:
  </p>
  <ul>
    <li>
      <span class="font-semibold text-flick-yellow">Open &ndash;</span> Players play
      against random players according to a schedule.
    </li>
    <li>
      <span class="font-semibold text-flick-yellow">Grouped &ndash;</span> Players
      are grouped according to their ratings.
    </li>
  </ul>
  <p>Matching sessions costs £1.50 to attend for all league players.</p>
</div>
