---
import Tab from "./Tab.astro";

interface Props {
  containerProps?: astroHTML.JSX.HTMLAttributes;
}

let _containerProps: astroHTML.JSX.HTMLAttributes = {};
const { containerProps } = Astro.props;
if (containerProps) {
  _containerProps = { ...containerProps };
  delete _containerProps.class;
}

console.log("todosid", Astro.url);

const tabConfig = [
  { label: "Group sessions", href: "#group-sessions" },
  { label: "1-2-1s", href: "#one-to-ones" },
  { label: "Workshops", href: "#workshops" },
  { label: "Open sessions", href: "#open-sessions" },
  { label: "Table bookings", href: "#table-bookings" },
  { label: "Corporate", href: "#corporate" },
];
---

<div class="border-b border-flick-dark overflow-x-auto">
  <div
    {..._containerProps}
    class:list={[
      "flex flex-row flex-wrap lg:flex-nowrap w-full m-auto border-x border-flick-dark",
      containerProps?.class,
    ]}
  >
    {
      tabConfig.map(({ label, href }, i) => (
        <Tab isFirst={i === 0} aProps={{ href }}>
          {label}
        </Tab>
      ))
    }
  </div>
</div>
<div>
  {
    tabConfig.map(({ label, href }) => (
      <div class="tab-content hidden" id={href.slice(1)}>
        {label + " content"}
      </div>
    ))
  }
</div>

<script>
  document.addEventListener("click", (e) => {
    let el = e.target as HTMLAnchorElement;
    if (el?.classList.contains("tab-links")) {
      let activeContent = document.querySelector(".tab-content.block");
      if (activeContent) {
        activeContent.classList.remove("block");
        activeContent.classList.add("hidden");
      }

      let activeTab = document.querySelector(".tab-links.bg-red-950");
      if (activeTab) activeTab.classList.remove("bg-red-950");

      el.classList.add("bg-red-950");
      let tabTarget = document.querySelector(el.dataset.target as string);
      tabTarget?.classList.add("block");
      tabTarget?.classList.remove("hidden");
      window.location.hash = el.dataset.target ?? "";
    }
  });

  const openTarget = location.hash ? location.hash : "#group-sessions";
  const tabContent = document.querySelector(openTarget);
  tabContent?.classList.add("block");
  tabContent?.classList.remove("hidden");

  const tab = document.querySelector("[data-target='" + openTarget + "']");
  tab?.classList.add("bg-red-950");
</script>
