---
import OfferingsLayout from "../../layouts/OfferingsLayout.astro";
import MainImage from "../../assets/offerings-one-to-ones-main.jpg";
import CoachesList from "../coaches/CoachesList.astro";
---

<OfferingsLayout title="Private Coaching">
  <div
    class="w-full aspect-video lg:aspect-73/30 overflow-hidden border-8 border-flick-dark"
  >
    <img
      src={MainImage.src}
      alt="Corporate"
      class="relative bottom-14 sm:bottom-25 lg:bottom-75 w-full object-cover aspect-4/3"
    />
  </div>
  <p class="font-light text-xl lg:text-3xl">
    Fully personalised one-to-one sessions from our coaches to your goals,
    combining technical coaching, match strategy, and multiball training where
    appropriate. Ideal for fast improvement, targeted skill development, and
    refining specific areas of your game.
  </p>
  <section>
    <h4 class="font-bold text-4xl mb-4">Meet the Coaches</h4>
    <CoachesList />
  </section>
</OfferingsLayout>
