---
import OfferingsLayout from "../../layouts/OfferingsLayout.astro";
import Button from "../ui/inputs/Button.astro";
import MainImage from "../../assets/offerings-workshops-main.png";
import InfoHighlightLayout from "../../layouts/InfoHighlightLayout.astro";
---

<OfferingsLayout title="U18 Tournament">
  <div
    class="w-full aspect-video lg:aspect-73/30 overflow-hidden border-8 border-flick-dark"
  >
    <img
      src={MainImage.src}
      alt="Workshop"
      class="relative bottom-14 sm:bottom-25 lg:bottom-75 w-full object-cover aspect-4/3"
    />
  </div>
  <p class="font-light text-xl lg:text-3xl">
    Integer tincidunt, ipsum at commodo tempus, enim orci consequat dolor, non
    sodales velit erat tristique lacus. Integer fermentum convallis orci ac
    faucibus. Integer sodales at erat ut vestibulum. Suspendisse ultrices sapien
    sit amet pharetra maximus. Nullam mollis dolor at urna auctor, id feugiat mi
    porttitor. Donec tincidunt lacinia lectus, id luctus quam dapibus sit amet.
    In dignissim dapibus nunc, ut semper libero interdum vitae.
  </p>
  <a
    href="https://bookwhen.com/flicktt-competitions"
    target="_blank"
    class="m-auto"
  >
    <Button class="mb-2" size="lg">Register now</Button>
  </a>
  <InfoHighlightLayout title="Next Tournament" size="md">
    <div class="flex flex-row gap-1 items-end">
      <h5 class="font-bold text-2xl">21 June 2026</h5>
      <p>9:30am - 1:30pm</p>
    </div>
    <p>48 players</p>
    <p>Group stage, then main & consolation draw</p>
    <p>
      <span class="font-semibold">Fee:</span>
      £8 (Members) / £16 (Non-Members)
    </p>
    <p>
      <span class="font-semibold">Prizes:</span>
      Winner: £125, Runner Up: £75, 3rd Place: £50, plus consolation prizes
    </p>
  </InfoHighlightLayout>
</OfferingsLayout>
