---
import Container from "../../layouts/Container.astro";
import CoachesList from "./CoachesList.astro";
---

<Container main class="flex flex-col gap-8 lg:gap-12 py-14">
  <p class="text-3xl md:text-4xl lg:text-5xl font-light text-center">
    Etiam sit amet urna viverra, laoreet dolor nec, elementum nisi. Morbi
    dapibus et justo a facilisis. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Ut quis ipsum et neque viverra pulvinar sit amet quis.
  </p>
  <section>
    <CoachesList />
  </section>
</Container>
