---
import PageHeader from "../../components/header/PageHeader.astro";
import PageTabs from "../../components/tabs/PageTabs.tsx";
import PageLayout from "../../layouts/PageLayout.astro";
import GroupSessions from "../../components/offerings/groupSessions/GroupSessions.astro";
import OneToOnes from "../../components/offerings/OneToOnes.astro";
import Workshops from "../../components/offerings/Workshops.astro";
import OpenSessions from "../../components/offerings/OpenSessions.astro";
import TableBookings from "../../components/offerings/TableBookings.astro";
import Corporate from "../../components/offerings/Corporate.astro";

const tabConfig = [
  {
    label: "Group sessions",
    contentId: "group-sessions",
    Content: GroupSessions,
  },
  {
    label: "Private Coaching",
    contentId: "private-coaching",
    Content: OneToOnes,
  },
  { label: "Workshops", contentId: "workshops", Content: Workshops },
  { label: "Open sessions", contentId: "open-sessions", Content: OpenSessions },
  {
    label: "Table bookings",
    contentId: "table-bookings",
    Content: TableBookings,
  },
  { label: "Corporate", contentId: "corporate", Content: Corporate },
];
---

<PageLayout title="Offerings">
  <PageHeader page="offerings" />
  <PageTabs client:load tabConfig={tabConfig} />
  {
    tabConfig.map(({ contentId, Content }, i) => (
      <div
        class:list={["tab-content", { hidden: i !== 0 }]}
        data-tab-content={contentId}
      >
        <Content />
      </div>
    ))
  }
</PageLayout>
