---
import PageHeader from "../../components/header/PageHeader.astro";
import PageTabs from "../../components/tabs/PageTabs.tsx";
import Layout from "../../layouts/Layout.astro";

const tabConfig = [
  { label: "Group sessions", contentId: "group-sessions" },
  { label: "1-2-1s", contentId: "one-to-ones" },
  { label: "Workshops", contentId: "workshops" },
  { label: "Open sessions", contentId: "open-sessions" },
  { label: "Table bookings", contentId: "table-bookings" },
  { label: "Corporate", contentId: "corporate" },
];
---

<Layout title="Offerings">
  <PageHeader page="offerings" />
  <PageTabs client:load tabConfig={tabConfig} />
  {
    tabConfig.map(({ label, contentId }) => (
      <div class="tab-content hidden" id={contentId}>
        {label + " content"}
      </div>
    ))
  }
</Layout>
