---
import NavLogo from "../../assets/logo-no-sub.svg";
import NavToggleButton from "./NavToggleButton.astro";

const { page } = Astro.props;

const links = [
  { name: "Offerings", link: "/offerings" },
  { name: "Compete", link: "/compete" },
  { name: "Kids", link: "/kids" },
  { name: "Membership", link: "/membership" },
  { name: "About", link: "/about" },
];

const isHome = page === "home";
---

<nav class="w-full pl-3 lg:pr-3">
  <div
    class:list={[
      `flex items-center h-12.5`,
      isHome ? "justify-end" : "justify-between",
    ]}
  >
    {
      !isHome && (
        <a href="/">
          <NavLogo height="50px" />
        </a>
      )
    }

    <!-- mobile menu -->
    <div class="flex items-center lg:hidden">
      <NavToggleButton action="open" />
    </div>
    <dialog
      id="mobile-nav-menu"
      class="lg:hidden fixed inset-0 m-0 h-screen w-screen max-h-none max-w-none border-0 p-0"
    >
      <div
        class="flex flex-col gap-y-8 py-9.5 px-8.5 overflow-y-scroll text-flick-black"
      >
        <NavToggleButton action="close" />
        <p class="text-center font-bold text-4xl md:text-6xl">Menu</p>
        {
          links.map(({ name, link }) => (
            <a
              href={link}
              class="text-center font-medium text-5xl sm:8xl md:text-9xl text-flick-black transition duration-150 hover:bg-white/5 hover:text-flick-yellow"
            >
              {name}
            </a>
          ))
        }
      </div>
    </dialog>

    <!-- desktop menu -->
    <ul class="hidden lg:flex flex-row gap-10 text-white">
      {
        links.map(({ name, link }) => (
          <li>
            <a href={link}>{name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
