---
import BannerButton from "../ui/inputs/BannerButton.astro";
import BannerLogo from "../../assets/logo-no-sub.svg";
import HeaderLayout from "../../layouts/HeaderLayout.astro";

const { page } = Astro.props;
---

<HeaderLayout page={page}>
  <div
    class="flex flex-col gap-10 items-center justify-between lg:flex-row xl:gap-30"
  >
    <BannerButton btnProps={{ id: "banner-btn-timetable" }}>
      Timetable
    </BannerButton>
    <BannerButton aProps={{ href: "/membership" }}>Membership</BannerButton>
    <BannerButton
      aProps={{ href: "https://bookwhen.com/flicktt", target: "_blank" }}
      >Book</BannerButton
    >
  </div>
  <div class="max-w-375 w-full">
    <BannerLogo />
  </div>
</HeaderLayout>

<script>
  const timetableBtn = document.getElementById("banner-btn-timetable");
  timetableBtn?.addEventListener("click", () => {
    const scheduleEl = document.getElementById("schedule");
    scheduleEl?.scrollIntoView({ behavior: "smooth" });
  });
</script>
