---
interface Props {
  action: "open" | "close";
}

const { action } = Astro.props;
---

<button
  id="mobile-nav-menu-toggle-btn"
  command={action === "open" ? "show-modal" : "close"}
  commandfor="mobile-nav-menu"
  class:list={[
    "relative items-center justify-center rounded-md p-2 cursor-pointer transition duration-150 focus:outline-2 focus:-outline-offset-1 focus:outline-flick-yellow",
    action === "open"
      ? "inline-flex text-white hover:bg-white/5"
      : "self-end text-flick-black hover:bg-black/5",
  ]}
>
  <span class="absolute -inset-0.5"></span>
  <span class="sr-only">Open nav menu</span>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    data-slot="icon"
    aria-hidden="true"
    class="size-6 in-aria-expanded:hidden"
  >
    <path
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    data-slot="icon"
    aria-hidden="true"
    class="size-6 not-in-aria-expanded:hidden"
  >
    <path
      d="M6 18 18 6M6 6l12 12"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</button>
