<div class="bg-flick-red">
  <section class="max-w-section m-auto px-6 lg:px-12 pt-6 pb-14 text-xl">
    <h3 class="text-flick-yellow mb-6">Frequently Asked Questions</h3>
    <slot />
  </section>
</div>
