---
import BannerBackground from "../assets/banner-image.png";
import HeaderNav from "../components/header/HeaderNav.astro";

const { page } = Astro.props;
---

<header
  class:list={[
    "p-4 bg-center bg-cover bg-no-repeat",
    page === "home" ? "h-190" : "h-60 lg:h-80 xl:h-102",
  ]}
  style={`background-image: url(${BannerBackground.src})`}
>
  <div
    class="flex flex-col items-center justify-between border-2 border-solid border-flick-yellow rounded-md py-4 px-4 lg:px-7 h-full"
  >
    <HeaderNav page={page} />
    <slot />
  </div>
</header>
