---
import { hasPaddingClass } from "../utils";

interface Props {
  title?: string;
  size?: "md" | "full";
  containerProps?: astroHTML.JSX.HTMLAttributes;
}

const { title, size = "full", containerProps } = Astro.props;
const _containerProps = { ...containerProps };
if (_containerProps) delete _containerProps.class;

const classString = containerProps?.class ?? "";
---

<div
  {..._containerProps}
  class:list={[
    "flex flex-col bg-white/5 gap-2 rounded-xl text-xl",
    {
      "m-auto w-full max-w-4xl": size === "md",
      "p-8": !hasPaddingClass(classString),
    },
    classString,
  ]}
>
  {title && <h4 class="text-flick-yellow font-bold text-4xl">{title}</h4>}
  <slot />
</div>
