---
import Accordion from "../components/accordion/Accordion.astro";
import AccordionContent from "../components/accordion/AccordionContent.astro";
import AccordionTitle from "../components/accordion/AccordionTitle.astro";
import Button from "../components/ui/inputs/Button.astro";
import AccordionLayout from "./AccordionLayout.astro";
import FaqsLayout from "./FaqsLayout.astro";
import mem3Img from "../assets/mem-03.jpg";

const { title } = Astro.props;
---

<div
  class="flex flex-col gap-8 lg:gap-12 max-w-section m-auto px-6 lg:px-12 pt-6 pb-14"
>
  {title && <h2 class="font-bold text-center">{title}</h2>}
  <slot />
</div>

<!-- TODO turn into reusable component along with home page section -->
<div class="bg-membership">
  <div
    class="flex flex-col lg:flex-row gap-8 max-w-section px-6 lg:px-12 py-12 m-auto"
  >
    <div>
      <div
        class="m-auto size-75 pb md:size-100 xl:size-125 rounded-4xl overflow-hidden border-10 border-black/10"
      >
        <img
          src={mem3Img.src}
          alt="Membership three"
          class="relative bottom-62.5 h-225 max-w-fit right-100"
        />
      </div>
    </div>
    <section
      class="flex flex-col text-center items-center justify-center gap-8 px-10 xl:pr-0 xl:text-right xl:items-end xl:gap-11"
    >
      <h3>Club Membership</h3>
      <p class="text-3xl">
        Members get big discounts on activities, including 1-2-1s, group
        sessions and club tables.
      </p>
      <Button>Find out more</Button>
    </section>
  </div>
</div>

<FaqsLayout>
  <AccordionLayout>
    <Accordion>
      <AccordionTitle>Proin placerat vitae nisl sed elementum?</AccordionTitle>
      <AccordionContent>
        <p>
          Maecenas dignissim eros ut elit imperdiet convallis. Morbi bibendum
          erat in nisi fringilla egestas. Suspendisse convallis vulputate
          viverra. Curabitur blandit ornare porttitor. Nunc at mauris laoreet,
          mollis turpis sit amet, porttitor nunc. Curabitur rhoncus ipsum in
          ante finibus, non egestas diam sollicitudin. Aliquam erat volutpat.
          Nam sit amet consequat enim.
        </p>
      </AccordionContent>
    </Accordion>
    <Accordion>
      <AccordionTitle>
        <p>In venenatis tortor leo, et vulputate mauris interdum in?</p>
      </AccordionTitle>
      <AccordionContent>
        <p>
          Maecenas dignissim eros ut elit imperdiet convallis. Morbi bibendum
          erat in nisi fringilla egestas. Suspendisse convallis vulputate
          viverra. Curabitur blandit ornare porttitor. Nunc at mauris laoreet,
          mollis turpis sit amet, porttitor nunc. Curabitur rhoncus ipsum in
          ante finibus, non egestas diam sollicitudin. Aliquam erat volutpat.
          Nam sit amet consequat enim.
        </p>
      </AccordionContent>
    </Accordion>
    <Accordion>
      <AccordionTitle>
        <p>
          Vestibulum dignissim tempus justo, auctor vulputate urna varius
          dignissim?
        </p>
      </AccordionTitle>
      <AccordionContent>
        <p>
          Maecenas dignissim eros ut elit imperdiet convallis. Morbi bibendum
          erat in nisi fringilla egestas. Suspendisse convallis vulputate
          viverra. Curabitur blandit ornare porttitor. Nunc at mauris laoreet,
          mollis turpis sit amet, porttitor nunc. Curabitur rhoncus ipsum in
          ante finibus, non egestas diam sollicitudin. Aliquam erat volutpat.
          Nam sit amet consequat enim.
        </p>
      </AccordionContent>
    </Accordion>
  </AccordionLayout>
</FaqsLayout>
